@model ToDoItemModel
@{
    ViewData["Title"] = "Utwórz nowe zadanie";
}

<div class="text-center">

    <h1 class="display-4">Utwórz nowe zadanie</h1>
    <p>Aby wrócić do listy zadań <a href="/">kliknij tutaj</a>.</p>

</div>
